.page-header {
  border: 2px solid #4f9eff;
  background-color: #b9d8ff;
}

.main-content {
  border: 2px solid #ed6eff;
  background-color: #f5b1ff;
}

.side-menu {
  border: 2px solid #f02e74;
  background-color: #fab9d0;
}
