<header class="header">
  <a
    class="header-link"
    routerLink="/question-one"
    routerLinkActive="header-link-active"
    >Question One</a
  >
  <a
    class="header-link"
    routerLink="/question-two"
    routerLinkActive="header-link-active"
    >Question Two</a
  >
  <a
    class="header-link"
    routerLink="/question-three"
    routerLinkActive="header-link-active"
    >Question Three</a
  >
  <a
    class="header-link"
    routerLink="/question-four"
    routerLinkActive="header-link-active"
    >Question Four</a
  >
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
